* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.page-header {
    background-color: #14A6E9;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-header ul {
    text-align: center;
    font-size: 1rem;

    display: flex;
    justify-content: flex-end;
}

.page-header li {
    text-align: center;
    padding: 0.8rem;
    list-style-type: none;
    font-weight: 800;
}

.close-x {
    display: none;
}

.menu-list-default:hover, .menu-list-default:active, .menu-list-selected {
    color: #e8e814;
    cursor: default;
    border-bottom: 4px solid #e8e814;
    text-decoration: none;
    padding: 0.6rem;
}

.menu-list-default {
    color: #fff;
    cursor: default;
    border-bottom: 2px solid #14A6E9;
    text-decoration: none;
    padding: 0.7rem;
}

@media screen and (max-width: 768px) {

    .close-menu-icon {
        display: none;
    }

    .close-x {
        display: block;
        position: absolute;
        top: 5px;
        border: 2px solid #fff;
        padding: 3px;
        height: 1rem;
        width: 1rem;
        text-align: center;
    }

    .open-menu-icon, .close-menu-icon-show {
        display: flex;
        flex-direction: column;
        width: 1.8rem;
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .open-menu-icon:hover, .close-x:hover {
        transform: scale(1.1);
    }
    
    .hamburger {
        background-color: #fff;
        padding: 2px;
        margin: 2px;
    }
    
    .page-header ul {
        display: none;
        width: 100%;
    }
}